<%= simple_form_for [@wedding, @guest] do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :full_name, :label => 'Nome completo' %>
    <%= f.input :phone, placeholder: "(XX) XXXXX-XXXX", input_html: { id: "phoneNumberGuest", maxlength: "11" } %>
  </div>

  <div class="form-actions pt-4 d-flex">
    <%= f.submit "Salvar e criar novo", class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm me-3", name: "save_and_create_guest" %>
    <%= f.submit "Salvar e voltar", class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm me-3", name: "save_guest_and_return" %>
    <%= link_to "Voltar", user_profile_path(current_user), class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm" %>
  </div>
<% end %>
