<div class="row justify-content-center my-4">
  <div class="col-md-4">
    <h2>Editar conta</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    label: "Nome",
                    autofocus: true %>
        <%= f.input :last_name,
                    label: "Sobrenome",
                    autofocus: true %>
        <%= f.input :phone,
                    label: "Telefone",
                    autofocus: true %>
        <%= f.input :password,
                    label: "Senha",
                    hint: "Deixar em branco caso não deseje mudar",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmação senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: "Senha atual",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file,
                    label: "Foto",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Atualizar dados", class: "btn btn-primary my-2" %>
      </div>
    <% end %>

    <h3>Remover conta</h3>

    <div>Insatisfeito? Cancele a qualquer momento. <%= button_to "Cancelar a minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger shadow-sm border-3 rounded-4" %></div>

    <%= link_to "Voltar", :back %>
  </div>
</div>
