<div class="row justify-content-center my-4">
  <div class="col-md-4 bg-white p-5 mt-5 rounded-4 shadow">
    <h2 class="text-center mb-4 userw-title-text">Cadastrar</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    label: "Nome",
                    required: true,
                    autofocus: true %>
        <%= f.input :last_name,
                    label: "Sobrenome",
                    required: true,
                    autofocus: true %>
        <%= f.input :phone,
                    label: "Celular",
                    hint: "Ex: 11999998888",
                    required: true,
                    autofocus: true,
                    input_html: { maxlength: "11" } %>
        <%= f.input :email,
                    label: "E-mail",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Senha",
                    required: true,
                    hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmação senha",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :photo,
                    label: "Foto",
                    as: :file %>
      </div>

      <div class="form-actions d-flex">
        <%= f.button :submit,
                    "Confirmar cadastro",
                    class: 'btn btn-outline-warning mb-1 rounded-3 shadow-sm flex-grow-1 btn btn-outline-warning my-2 mb-4 me-3 w-100' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
