<div class="d-flex flex-column m-3 rounded-4 shadow 100vw container-user-wedding" data-toggle-target="togglableElementChoiceDados">
  <div class="flex-grow-1 d-flex user-bg-info-wed justify-content-between align-items-center rounded-top-4">
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireDados">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text">Informações de Login</h4>
    </div>
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireUserInfo">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text">Informações Pessoais</h4>
    </div>
    <div class="flex-grow-1 border h-25 user-comp-info-wed m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow p-3" data-action="click->toggle#fireAmor">
      <h4 class="fw-bold user-comp-text m-0 userw-title-text">Informações de seu amor</h4>
    </div>
  </div>
  <div class="w-100 h-100 bg-white rounded-bottom-4 p-4" data-toggle-target="togglableElement" data-toggle-element="dados">
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-at m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>E-mail:</strong> <%= current_user.email %></p>
    </div>
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-lock m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>Senha:</strong> **********</p>
    </div>
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-regular fa-calendar-plus m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>Criado em:</strong> <%= current_user.created_at.strftime("%d/%m/%Y") %> </p>
    </div>
    <div class="mt-4 mx-1 w-50">
      <%= link_to "Editar", edit_user_registration_path, class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
    </div>
  </div>
  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="userInfo">
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
    <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3" style="color: #6f6fab;"></i>
    <p class="m-0 p-0 userw-title-text"><strong>Nome:</strong> <%= current_user.first_name %> </p>
    </div>
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
    <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3" style="color: #6f6fab;"></i>
    <p class="m-0 p-0 userw-title-text"><strong>Sobrenome: </strong> <%= current_user.last_name %> <p>
    </div>
    <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
    <i class="fa-solid fa-phone m-0 p-0 mx-3" style="color: #6f6fab;"></i>
    <p class="m-0 p-0 userw-title-text"><strong>Telefone: </strong> <%= number_to_phone(current_user.phone, pattern: /\A(\d{2})(\d{5})(\d{4})\z/, area_code: true) %> </p>
    </div>
    <div class="mt-4 mx-1 w-50">
      <%= link_to "Editar", edit_user_registration_path, class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
    </div>
  </div>
  <div class="scroll-card-wed w-100 h-100 bg-white rounded-bottom-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="amor">
    <% if @user_wedding != [] %>
      <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>Nome:</strong> <%= @partner_first_name %> </p>
      </div>
      <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-person fa-lg m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>Sobrenome: </strong> <%= @partner_last_name %> <p>
      </div>
      <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-at m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>E-mail: </strong> <%= @partner_email %></p>
      </div>
      <div class="border shadow-sm rounded-4 mx-1 mb-2 h-25 d-flex align-items-center">
      <i class="fa-solid fa-phone m-0 p-0 mx-3" style="color: #6f6fab;"></i>
      <p class="m-0 p-0 userw-title-text"><strong>Telefone: </strong> <%= number_to_phone(@partner_phone, pattern: /\A(\d{2})(\d{5})(\d{4})\z/, area_code: true) %> </p>
      </div>
      <div class="mt-4 mx-1 w-50">
        <%= link_to "Editar", edit_wedding_path(@user_wedding), class: "btn btn-outline-warning rounded-3 shadow-sm w-25" %>
      </div>
    <% else %>
      <h2>Casamento ainda não criado</h2>
    <% end %>
  </div>
</div>
