<div class="d-none d-flex flex-column m-3 p-2 bg-warning rounded-4 shadow" style="height:60vh" data-toggle-target="togglableElementChoiceCasamento">
  <div class="flex-grow-1 d-flex justify-content-between">
    <div class="border h-25 bg-warning m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-action="click->toggle#fireCasamentoInfo">
      <h4 class="fw-bold text-white m-0">Casamento</h4>
    </div>
    <div class="flex-grow-1 border h-25 bg-warning m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-action="click->toggle#firePresentesInfo">
      <h4 class="fw-bold text-white m-0">Lista de Presentes</h4>
    </div>
    <div class="flex-grow-1 border h-25 bg-warning m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-action="click->toggle#fireConvidadosInfo">
      <h4 class="fw-bold text-white m-0">Lista de Convidados</h4>
    </div>
    <div class="flex-grow-1 border h-25 bg-warning m-3 rounded-4 d-flex justify-content-center align-items-center btn shadow" data-action="click->toggle#firePresentesRecebidos">
      <h4 class="fw-bold text-white m-0">Presentes Recebidos</h4>
    </div>
  </div>

  <div class="w-100 h-100 border bg-white rounded-4 p-4" data-toggle-target="togglableElement" data-toggle-element="casamentoInfo">
    <div class="border h-100 shadow-sm rounded-3 mx-1 mb-2 bg-users d-flex flex-column align-items-center">
      <% if !@user_wedding.empty? %>
        <div class="rounded-4 d-flex">
          <p>Seu casamento foi criado com sucesso! <i class="fa-solid fa-heart" style="color: #ff0026;"></i></p></p>
        </div>
        <div class="d-flex">
          <div class="d-flex">
            <p>Visualize o seu casamento</p>
            <%= link_to wedding_info_path(@user_wedding, @couple) do %>
              <div><i class="fa-regular fa-eye me-2"></i></div>
            <% end %>
          </div>
          <div class="d-flex">
            <p>Alguma informação faltou ou ficou errada? Sem problemas, clique aqui e edite!</p>
            <%= link_to edit_wedding_path(@user_wedding) do %>
              <div><i class="fa-solid fa-pen me-2"></i></div>
            <% end %>
          </div>
          <% if @tips.empty? %>
            <div class="d-flex">
              <p>Crie sua primeira dica!</p>
              <%= link_to new_wedding_tip_path(@user_wedding) do %>
                <div><i class="fa-solid fa-plus me-2"></i></div>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <p>Adicionar mais dicas</p>
              <%= link_to new_wedding_tip_path(@user_wedding) do %>
                <div><i class="fa-solid fa-plus me-2"></i></div>
              <% end %>
            </div>
          <% end %>
          <div class="d-flex">
            <p>Insatisfeito? Remova o seu casamento e crie um novo!</p>
            <%= link_to wedding_path(@user_wedding), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
              <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
            <% end %>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center w-75">
          <p>Compartilhe com seus convidados!</p>
          <%= render 'copy_link' %>
        </div>
      <% else %>
        <div class="m-5 ps-5">
          <h2>Seu casamento</h2>
          <p>Seu casamento ainda não foi cadastrado. Clique no botão abaixo para cadastrar.</p>
          <%= link_to "Cadastrar casamento", new_wedding_path, class: "btn btn-outline-success shadow-sm" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="scroll-card w-100 h-100 border bg-white rounded-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="presentesInfo">
    <%= render "gifts" %>
  </div>

  <div class="scroll-card w-100 h-100 border bg-white rounded-4 p-4 d-none" data-toggle-target="togglableElement" data-toggle-element="convidadosInfo">
    <%= render "guests" %>
  </div>

  <div class="scroll-card w-100 h-100 border bg-white rounded-4 p-5 d-none" data-toggle-target="togglableElement" data-toggle-element="presentesRecebidos">
    <%= render "orders" %>
  </div>
</div>
