<% if @wedding_gifts.empty? && @user_wedding != [] %>
  <div>
    <h2>Lista de presentes</h2>
    <p>Lista de presentes ainda não cadastrada. Clique no botão abaixo para adicionar.</p>
    <%= link_to "Adicionar", new_wedding_gift_path(@user_wedding), class: "btn btn-outline-success shadow-sm" %>
  </div>
<% elsif @user_wedding == [] %>
  <h2>Casamento ainda não foi criado</h2>
<% else %>
  <div class="d-flex align-items-center ">
    <p>Quantidade de presentes cadastrados: <%= @wedding_gifts.count %></p>
    <%= link_to new_wedding_gift_path(@user_wedding) do %>
      <div><i class="fa-solid fa-plus me-2"></i></div>
    <% end %>
    <%= link_to wedding_delete_all_gifts_path(@user_wedding), data: { turbo_method: :delete, turbo_confirm: "Deletar a lista inteira e começar do zero. Você tem certeza?" } do %>
      <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
    <% end %>
  </div>
  <% @wedding_gifts.each do |gift| %>
  <div class="border shadow-sm rounded-3 mx-1 mb-2 h-25 bg-users d-flex justify-content-between align-items-center">
    <span class="h-100 flex-grow-1 d-flex justify-content-start align-items-center">
      <div class="d-flex flex-column justify-content-between me-4">
        <p class="m-0 p-0"><strong>Título: </strong><%= gift.title %></p>
        <div class="d-flex me-2">
          <%= link_to edit_wedding_gift_path(@user_wedding, gift) do %>
          <div><i class="fa-solid fa-pen me-2"></i></div>
          <% end %>
          <%= link_to wedding_gift_path(@user_wedding, gift), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
            <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
          <% end %>
        </div>
      </div>
      <span>
        <li>Valor: <%= gift.value %></li>
        <li>Quantidade de cotas: <%= gift.total_quota %></li>
      </span>
    </span>
    </div>
  <% end %>
<% end %>
