<% if @wedding_guests.empty? && @user_wedding != [] %>
  <div class="">
    <h2>Lista de convidados</h2>
    <p>Lista de convidados ainda não cadastrada. Clique no botão abaixo para adicionar.</p>
    <%= link_to "Adicionar lista de convidados", new_wedding_guest_path(@user_wedding), class: "btn btn-outline-success shadow-sm" %>
  </div>
<% elsif @user_wedding.empty? %>
  <h2>Casamento ainda não foi criado</h2>
<% else %>
  <div class="d-flex align-items-center ">
    <p>Quantidade de convidados cadastrados: <%= @wedding_guests.count %></p>
    <%= link_to new_wedding_guest_path(@user_wedding) do %>
      <div><i class="fa-solid fa-plus me-2"></i></div>
    <% end %>
    <%= link_to wedding_delete_all_guests_path(wedding_id: @user_wedding.first.id), data: { turbo_method: :delete, turbo_confirm: "Deletar a lista inteira e começar do zero. Você tem certeza?" } do %>
        <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
    <% end %>
  </div>
    <div class="d-flex">
      <p class="mt-1">Confirmados: <%= @confirmed_guests.count %></p>
      <p class="mt-1">Não confirmados: <%= @not_attending_guests.count %></p>
      <p class="mt-1">A confirmar: <%= @unconfirmed_guests.count %></p>
    </div>
    <div class="progress">
      <% if @confirmed_guests.count > 0 %>
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: <%= @percentage %>%;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"><%= @percentage %>%</div>
      <% else %>
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      <% end %>
    </div>
  <% @wedding_guests.each do |guest| %>
    <div class="border shadow-sm rounded-3 mx-1 mb-2 h-25 bg-users d-flex justify-content-between align-items-center">
      <span class="h-100 flex-grow-1 d-flex justify-content-start align-items-center">
        <div class="d-flex flex-column justify-content-between me-4">
          <p class="m-0 p-0"><strong>Título: </strong><%= guest.full_name %></p>
          <div class="d-flex me-2">
            <%= link_to edit_wedding_guest_path(@user_wedding, guest) do %>
            <div><i class="fa-solid fa-pen me-2"></i></div>
            <% end %>
            <%= link_to wedding_guest_path(@user_wedding, guest), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
              <div><i class="fa-solid fa-xmark" style="color: #ff0000;"></i></div>
            <% end %>
          </div>
        </div>
        <span>
          <li>Telefone: <%= guest.phone %> </li>
          <li>Email: <%= guest.email %></li>
          <% if guest.confirmed == true %>
            <p>Confirmado</p>
          <% elsif guest.confirmed == nil %>
            <p>A confirmar</p>
          <% elsif guest.confirmed == false %>
            <p>Não comparecerá</p>
          <% end %>
        </span>
      </span>
    </div>
  <% end %>
<% end %>
