<% if @wedding_guests.empty? %>
  <div class="col-sm-4 border-end">
    <h2>Lista de convidados</h2>
    <p>Lista de convidados ainda não cadastrada. Clique no botão abaixo para adicionar.</p>
    <%= link_to "Adicionar lista de convidados", new_wedding_guest_path(@user_wedding), class: "btn btn-outline-success shadow-sm" %>
  </div>
<% else %>
  <div class="col-sm-4">
    <h2>Lista de convidados</h2>
    <p>Lista de convidados cadastrada. Clique no botão abaixo para visualizar.</p>
    <%= link_to "Visualizar", '#', class: "btn btn-outline-primary shadow-sm" %>
    <%= link_to "Adicionar", new_wedding_guest_path(@user_wedding), class: "btn btn-outline-success shadow-sm" %>
    <%= link_to "Remover", wedding_delete_all_guests_path(wedding_id: @user_wedding.first.id), data: { turbo_method: :delete, turbo_confirm: "Deletar a lista inteira e começar do zero. Você tem certeza?" }, class: "btn btn-outline-danger shadow-sm" %>
    <%# button_to "Remover", wedding_delete_all_guests_path(@user_wedding), method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-danger shadow-sm" %>
    <p class="mt-1">Total: <%= @wedding_guests.count %></p>
    <% @wedding_guests.each do |guest| %>
      <ul class="mt-4 pt-3 border-top">
        <li><%= guest.full_name %></li>
        <li><%= guest.phone %></li>
        <li><%= guest.email %></li>
        <% if guest.confirmed == true %>
          <p>Confirmado</p>
        <% else %>
          <p>Não confirmado</p>
        <% end %>
        <%= link_to "Remover", wedding_guest_path(@user_wedding, guest), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" }, class: "btn btn-outline-danger shadow-sm" %>
        <%= link_to "Editar", edit_wedding_guest_path(@user_wedding, guest), class: "btn btn-outline-warning shadow-sm" %>
      </ul>
    <% end %>
  </div>
<% end %>
