<% if wedding_orders == nil %>
  <div class="col-sm-3 border-end">
    <h2>Presentes recebidos <i class="fa-regular fa-rectangle-list"></i></h2>
    <p>Ainda não há nenhuma compra</p>
  </div>
<% else %>
  <div class="col-sm-3 border-end">
    <div class="border rounded-4">
      <h2>Presentes recebidos <i class="fa-regular fa-rectangle-list"></i></h2>
    </div>
    <%= link_to '#' do %>
      <div><i class="fa-regular fa-eye me-2"></i></div>
    <% end %>
    <div class="d-flex">
      <p class="mt-1">Quantidade de presentes: <%= @orders.count %></p>
      <p class="mt-1">Valor total: R$<%= @total_orders_value %></p>
    </div>

    <% wedding_orders.first.each do |order| %>
      <ul class="mt-4 pt-3 border-top">
        <div>
          <p>Convidado: <%= order.full_name %></p>
          <p>Mensagem: <%= order.message %></p>
        </div>
      </ul>
    <% end %>
  </div>
<% end %>
