<% if @user_wedding.empty? %>
  <h2>Casamento ainda não criado</h2>
<% elsif @orders == [] %>
  <div class="border-end">
    <h2>Presentes recebidos <i class="fa-regular fa-rectangle-list"></i></h2>
    <p>Ainda não há nenhuma compra</p>
  </div>
<% else %>
  <div class="d-flex flex-column align-items-center ">
    <h4 class="m-0 pb-2 userw-title-text">Quantidade de presentes recebidos: <%= @orders&.count %></h4>
    <p class="m-0 pt-2 pb-4 userw-title-text-s">Valor total: <%= number_to_currency(@total_orders_value, :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
  </div>
  <% @wedding_orders.first.each do |order| %>
    <div class="border shadow-sm border-card-wed-user p-2 my-2 d-flex align-items-center">
      <span class="h-100 flex-grow-1 d-flex justify-content-start align-items-center">
        <div class="d-flex flex-column justify-content-between me-4">
          <p class="m-0 p-0 userw-title-text-s">Presente: <%= order.gift.title.capitalize %></p>
          <p class="m-0 p-0 userw-title-text-s">Convidado: <%= order.full_name.capitalize %></p>
          <p class="m-0 p-0 userw-title-text-s">Mensagem: <%= order.message.capitalize %></p>
        </div>
      </span>
    </div>
    <span class="horizontal-hr-wed"></span>
  <% end %>
<% end %>
