<div class="container m-5 ps-5">
  <h1>Olá, <%= current_user.first_name %></h1>
</div>

<% if !@user_wedding.empty? %>
  <div class="row m-5 ps-5">
    <%= render 'wedding' %>
    <%= render 'gifts' %>
    <%= render 'guests' %>
    <%= render partial: 'orders', locals: { wedding_orders: @wedding_orders } %>
  </div>
<% else %>
  <div class="m-5 ps-5">
    <h2>Seu casamento</h2>
    <p>Seu casamento ainda não foi cadastrado. Clique no botão abaixo para cadastrar.</p>
    <%= link_to "Cadastrar casamento", new_wedding_path, class: "btn btn-outline-success shadow-sm" %>
  </div>
<% end %>
