<%= simple_form_for [@wedding, @gift] do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
    [:base].present? %>

    <%= f.input :title, :label => 'Titulo'%>
    <%= f.input :category, :label => 'Categoria' %>
    <%= f.input :value, :label => 'Valor' %>
    <%= f.input :total_quota, :label => 'Cotas' %>
    <%= f.input :photo, as: :file, :label => 'Foto do presente' %>
  </div>

  <div class="form-actions pt-4 mb-1 d-flex">
    <%= f.submit "Cadastrar", class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm me-3"%>
    <%= link_to "Voltar", user_profile_path(current_user), class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm" %>
  </div>

<% end %>
