<ul id="anchors-nav-wed" class="nav justify-content-center align-items-center nav-wed-size gap-2 anchors-nav-wed-scrollspy">
  <li class="nav-item">
    <%= link_to "Confirme sua presença", '/', class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Recepção", '/', class: "nav-link" %>
  </li>
  <% if !@gifts.empty? %>
    <li class="nav-item">
      <%= link_to "Lista de presentes", presentes_path(), class: "nav-link" %>
    </li>
  <% end %>
  <% if !@wedding_guests_messages.empty? %>
    <li class="nav-item">
      <%= link_to "Mensagens", '/', class: "nav-link" %>
    </li>
  <% end %>
  <% if !@user_wedding_tips.empty? %>
    <li class="nav-item">
      <%= link_to "Dicas", '/', class: "nav-link" %>
    </li>
  <% end %>
</ul>
