<br>
<div class="container" >
  <div class="row ">
    <% @gifts.each do |gift|  %>
      <div class="col-4">
        <div class="card_order h-100">
            <img src="<%= asset_path 'img_jantar_romantico.jpg' %>" class="card_order-img-top" alt="Image">
          <div class="card_order-body">
            <h5 class="card_order-title"><%= gift.title%> </h5>
            <div class="card_order-description">
              <p> Categoria: <%=gift.category%> </p>
              <p> Preço: <%=gift.value%> </p>
            </div>
            <button type="button" class="btn btn-light">Comprar</button>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card_order h-100">
          <img src="<%= asset_path 'img_jantar_romantico.jpg' %>" class="card_order-img-top" alt="Image">
        <div class="card_order-body">
          <h5 class="card_order-title">Jantar Romantico</h5>
          <p class="card_order-description">Categoria: Jantar.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_order h-100">
          <img src="<%= asset_path 'img_luademel.jpg' %>" class="card_order-img-top" alt="Image">
        <div class="card_order-body ">
          <h5 class="card_order-title">Lua de Mel </h5>
          <p class="card_order-text">.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_order h-100">
        <img src="<%= asset_path 'img_paris.jpg' %>" class="card_order-img-top" alt="Image">
        <div class="card_order-body">
          <h5 class="card_order-title">Viagem a Paris</h5>
          <p class="card_order-text">This is a longer card_order with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card_order h-100">
        <img src="<%= asset_path 'img_picknick.jpg' %>" class="card_order-img-top" alt="Image" style="width: 309px; height: 200px;">
        <div class="card_order-body">
          <h5 class="card_order-title">Picknick para o Casal </h5>
          <p class="card_order-text">This is a longer card_order with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_order h-100">
          <img src="<%= asset_path 'img_presente.jpg' %>" class="card_order-img-top" alt="Image">
        <div class="card_order-body">
          <h5 class="card_order-title">Presente Surpresa </h5>
          <p class="card_order-text">This is a short card_order.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_order h-100">
          <img src="<%= asset_path 'img_wine.jpg' %>" class="card_order-img-top" alt="Image">
        <div class="card_order-body">
          <h5 class="card_order-title">Vinho para o Casal</h5>
          <p class="card_order-text">This is a longer card_order with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <br>



  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <br>
          <h4> Meu Carrinho</h4>
          <h6>Discrição do Produto</h6>

          <img src="<%= asset_path 'img_presente.jpg' %>" class="card_order-img-top" alt="Image"  style="width: 309px; height: 200px; >
          <div class="card-body">
            <%# <h5 class="card_order-title"><%= gift.title%> </h5> %>
            <%# <p> Categoria: <%=gift.category%> </p> %>
            <%= form_with url: '/caminho_para_salvar_dados', method: :post do |form| %>
              <div class="form-group">
                <%= form.label :nome, 'Insira seu nome' %>
                <%= form.text_field :nome, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :mensagem, 'Deixe uma mensagem' %>
                <%= form.text_area :mensagem, class: 'form-control' %>
              </div>
              <br>
              <%= form.submit 'Adicionar mais intens ', class: 'btn btn-primary' %>
              <%= form.submit 'Continuar a comprar', class: 'btn btn-primary' %>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
