<%= render "navbar"%>
<div class="container" >
  <div class="row ">
    <% @gifts.each do |gift|  %>
      <div class="col-4">
        <div class="card_order h-100">
            <img src="<%= asset_path 'img_jantar_romantico.jpg' %>" class="card_order-img-top" alt="Image">
          <div class="card_order-body">
            <h5 class="card_order-title"><%= gift.title%> </h5>
            <div class="card_order-description">
              <p> Categoria: <%=gift.category%> </p>
              <p> Preço: <%=gift.value%> </p>
            </div>
            <%= link_to "Comprar", buy_gift_path(@wedding.id, @couple, gift.id), class: "btn btn-light" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
<%= render "footer"%>
