<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_jantar_romantico.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Jantar Romantico</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_luademel.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body ">
          <h5 class="cards-title">Lua de Mel </h5>
          <p class="cards-text">This is a short cards.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
       <img src="<%= asset_path 'img_paris.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Viagem a Paris</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
  <br>
   <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="cards h-100">
        <img src="<%= asset_path 'img_picknick.jpg' %>" class="cards-img-top" alt="Image" style="width: 309px; height: 200px;">
        <div class="cards-body">
          <h5 class="cards-title">Picknick para o Casal </h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_presente.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Presente Surpresa </h5>
          <p class="cards-text">This is a short cards.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_wine.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Vinho para o Casal</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
  <br>
   <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="cards h-100">
        <img src="<%= asset_path 'img_car.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Aluguel de Carro</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_balao.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Passeio de Balão</h5>
          <p class="cards-text">This is a short cards.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
       <img src="<%= asset_path 'img_presente.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Presente</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
  </div>
  <br>
   <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_maldivas.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Viagem Maldivas</h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_arizona.jpg' %>" class="cards-img-top" alt="Image">
        <div class="cards-body">
          <h5 class="cards-title">Passeio no Arizona</h5>
          <p class="cards-text">This is a short cards.</p>
          <button type="button" class="btn btn-light">Light</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards h-100">
         <img src="<%= asset_path 'img_massage.jpg' %>" class="cards-img-top" alt="Image" style="width: 309px; height: 200px;">
        <div class="cards-body">
          <h5 class="cards-title">Massagem para o Casal </h5>
          <p class="cards-text">This is a longer cards with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-light">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
