<%= simple_form_for [@wedding, @gift, @order] do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
    [:base].present? %>

    <%= f.input :full_name, :label => 'Insira seu nome', input_html: {class: "userw-title-text"} %>
    <%= f.input :message, :label => 'Escreva sua mensagem', input_html: {class: "userw-title-text"}%>
  </div>

  <div class="d-flex justify-content-center form-actions pt-4">
    <%= f.submit "Finalizar", class: "btn bnt-wed-conf shadow-sm rounded-4 me-4 px-5" %>
    <%= link_to "Voltar", presentes_path, class: "btn bnt-wed-conf shadow-sm rounded-4 px-5" %>
  </div>
<% end %>
