<% if @wedding %>
  <section class="bwed-grey">
    <%= render 'weddings/navbar' %>
    <%= render 'weddings/banner_wed' %>
      <section class="buffer-wed"></section>
      <section class="bwed-grey-img"></section>
      <div class="container blur-wed">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-column align-items-center" data-bs-spy="scroll" data-bs-target="#anchors-nav-wed" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
              <%= render 'weddings/welcome_message' %>
              <section class="buffer-wed"></section>
              <section class="parallax-wed"></section>
              <section class="buffer-wed"></section>
              <%= render "weddings/confirmation" %>
              <section class="buffer-wed"></section>
              <%= render "weddings/events" %>
              <section class="buffer-wed"></section>
              <%= render "weddings/tips" %>
              <% if !@wedding_guests_messages.empty? %>
                <%= render 'weddings/messages' %>
                <section class="buffer-wed"></section>
              <% end %>
              <%= render 'weddings/final_message' %>
              <section class="buffer-wed"></section>
              </div>
          </div>
        </div>
      </div>
    <%= render 'weddings/footer' %>
    <section class="buffer-wed"></section>
  </section>
<% else %>
  <h1>No wedding yet</h1>
<% end %>
