<div class="h-100 d-flex flex-column align-items-center">
  <!-- Wedding created and details -->
  <% if @user_wedding %>
    <div class="mt-2">
      <h4 class="userw-title-text">Parabéns, seu casamento foi criado com sucesso! <i class="fa-solid fa-heart" style="color: #ff0026;"></i></h4>
    </div>
    <div class="d-flex flex-column align-items-center w-75">
      <p class="userw-title-text">Compartilhe com seus convidados!</p>
      <%= render 'users/wedding_data/copy_link' %>
    </div>
    <hr>
    <section class="d-flex w-75 justify-content-between">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <%= link_to root_path do %>
            <div><i class="fa-regular fa-eye me-2 wedding-icons-color"></i></div>
          <% end %>
          <p class="userw-title-text-s">Visualize o seu casamento</p>
        </div>
        <div class="d-flex">
          <%= link_to edit_wedding_path(@user_wedding) do %>
            <div><i class="fa-solid fa-pen user-comp-edit me-2"></i></div>
          <% end %>
          <p class="userw-title-text-s">Alguma informação faltou ou ficou errada? Clique no ícone e edite!</p>
        </div>
        <% if @tips.empty? %>
          <div class="d-flex">
            <%= link_to new_wedding_tip_path(@user_wedding) do %>
              <div><i class="fa-solid fa-plus text-success me-2"></i></div>
            <% end %>
            <p class="userw-title-text-s">Crie sua primeira dica!</p>
          </div>
        <% else %>
          <div class="d-flex">
            <%= link_to new_wedding_tip_path(@user_wedding) do %>
              <div><i class="fa-solid fa-plus text-success me-2"></i></div>
            <% end %>
            <p class="userw-title-text-s">Adicionar mais dicas</p>
          </div>
        <% end %>
        <div class="d-flex">
          <%= link_to wedding_path(@user_wedding), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" } do %>
            <div><i class="fa-solid fa-xmark fa-plus me-2 pe-1 wedding-x-icon"></i></div>
          <% end %>
          <p class="userw-title-text-s">Insatisfeito? Remova o seu casamento e crie um novo!</p>
        </div>
      </div>
      <span class="vertical-hr-wed"></span>
      <div class="ms-4">
        <h5 class="p-0 mb-3 userw-title-text">Panorama Geral:</h5>
        <p class="p-0 userw-title-text-s">Convidados: <%= @wedding_guests.count %></p>
        <p class="p-0 userw-title-text-s">Presentes: <%= @wedding_gifts.count %></p>
        <p class="p-0 userw-title-text-s">Presentes Recebidos: <%= @orders.count %></p>
      </div>
    </section>
    
  <% else %>
    <!-- No wedding created yet -->
    <div class="d-flex flex-column justify-content-center align-items-center w-75 userw-text-margin">
      <h3 class="userw-text-just userw-title-text mb-5">Ops, parece que o seu casamento ainda não foi criado!</h3>
      <p class="userw-title-text-s userw-text-just-s mb-5 mt-1"> Não se preocupe, é muito fácil. Você só precisa <span class="text-white px-1 user-comp-info-progress">clicar no botão abaixo</span> e preencher as informações! Vamos lá?</p>
      <%= link_to "Criar casamento", new_wedding_path, class: "btn btn-outline-warning shadow-sm rounded-3" %>
    </div>
  <% end %>
</div>
