<%= render partial: "navbar"  %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome Message</h1>
      <h4><%= wedding.welcome_message%></h4>
      <h2>Informações</h2>
      <p><%= wedding.wedding_info %></p>
      <h2>Data e horário</h2>
      <p><%= wedding.date %></p>
      <p><%= wedding.time %></p>
      <h2>Endereço</h2>
      <p><%= wedding.address %></p>
      <h2>Dicas</h2>
      <p><%= wedding.tips %></p>
    </div>
  </div>
</div>
