<div class="border border-3 rounded-4 w-75 p-5 shadow-s m-5" data-controller="wedding-event">
  <span class="d-flex align-items-center justify-content-between mb-4">
    <i class="fa-solid fa-angle-left fa-xl btn" data-action="click->wedding-event#change"></i>
    <h2 id="recepcao" class="text-center m-0">Recepção</h2>
    <i class="fa-solid fa-chevron-right fa-xl btn" data-action="click->wedding-event#change"></i>
  </span>
  <div class="d-flex justify-content-center d-none mb-4" data-wedding-event-target="hideAddressElement">
    <span class="me-2"><strong>Endereço: </strong><%= @wedding.address %></span>
    <span class="me-2"><strong>Data: </strong><%= @wedding.date.strftime("%d/%m/%Y") %></span>
    <span class="me-2"><strong>Horário: </strong><%= @wedding.time.strftime("%H:%M") %></span>
  </div>
  <div data-wedding-event-target="hideTitleElement">
    <p class="text-center"><%= @wedding.wedding_info %></p>
  </div>
  <div class="rounded-4 shadow-sm" style="width: 75; height: 50vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
