<div>
  <div class="row align-items-center justify-content-center shadow mb-3" style="background-color: #6F6FAB; border-radius:8px">
    <div class="col-md-10 text-center" id="comentarios">
      <span class="d-flex flex-column ustify-content-center align-items-center">
        <h3 class="userw-text-g my-3 text-white">Quem usou, aprovou e recomenda</h3>
        <p class="userw-text-g userw-text-just userw-text-line-h mb-4 text-white">Descubra por que somos amados por noivos e noivas!</p>
      </span>
    </div>
  </div>
  <section class="buffer-cds mb-4"></section>
  <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @reviews.each_slice(3).with_index do |review_group, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <div class="row align-items-center justify-content-center">
            <% review_group.each do |review| %>
              <div class="col-md-4">
                <div class="card-custom justify-content-start align-items-start mb-12">
                  <div class="card-body-custom shadow-sm border border-none card d-flex flex-column justify-content-between" style="background-color:#eceef0">
                    <p class="card-text-custom userw-title-text-s userw-text-just" style="word-spacing:-0.1rem"><%= review.content %></p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <% if review.user.photo.key %>
                          <%= cl_image_tag(review.user.photo.key, height: 45, width: 45, crop: :thumb, class: "avatar shadow-sm", alt: "dropdown menu", gravity: :face) %>
                        <% else %>
                          <span class="d-flex justify-content-center align-items-center fs-5 avatar text-white bg-warning shadow-sm">
                            <%= review.user.first_name[0].capitalize %>
                          </span>
                        <% end %>
                        <p class="card-text-custom m-0 ms-2"><%= review.user.first_name.capitalize %></p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0 me-2">
                          <% review.rating.times do %>
                            <i class="fas fa-star gold-star text-decoration-none"></i>
                          <% end %>
                          <% (5 - review.rating).times do %>
                            <i class="far fa-star gold-star"></i>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <%# <button class="carousel-control-prev" data-bs-target="#reviewCarousel" type="button"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#reviewCarousel" type="button"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div> %>
</div>
