<section class="testbwed-red">
  <%= render 'weddings/navbar' %>
  <%= render 'weddings/banner_wed' %>
    <section class="buffer-wed"></section>
    <section class="test-red-bg"></section>
    <div class="container test-blur-wed">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-column align-items-center" data-bs-spy="scroll" data-bs-target="#anchors-nav-wed" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <%= render 'welcome_message' %>
            <section class="buffer-wed"></section>
            <section class="parallax-wed"></section>
            <section class="buffer-wed"></section>
            <%= render "confirmation" %>
            <section class="buffer-wed"></section>
            <%= render "events" %>
            <section class="buffer-wed"></section>
            <%= render "tips" %>
            <% if !@wedding_guests_messages.empty? %>
              <%= render 'messages' %>
              <section class="buffer-wed"></section>
            <% end %>
            <%= render 'final_message' %>
            <section class="buffer-wed"></section>
            </div>
        </div>
      </div>
    </div>
  <%= render 'footer' %>
  <section class="buffer-wed"></section>
</section>
