<%= simple_form_for (@wedding) do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
    [:base].present? %>

    <%= f.input :welcome_message, :label => 'Mensagem de boas-vindas'%>
    <%= f.input :address, :label => 'Endereço do casamento' %>
    <%# f.input :address, :label => 'Endereço do casamento',
                input_html: {data: {address_autocomplete_target: "address"}},
                wrapper_html: {data: {controller: "address-autocomplete",
                address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class: "d-none"} %>
    <%= f.input :date, :label => 'Data do casamento' %>
    <%= f.input :time, :label => 'Horário do casamento' %>
    <%= f.input :wedding_info,
                :label => 'Informações sobre o casamento',
                :placeholder => 'Ex: Horário da cerimônia, vestimenta, etc' %>
    <%= f.input :partner_first_name, :label => 'Primeiro nome do parceiro(a)' %>
    <%= f.input :partner_last_name, :label => 'Último nome do parceiro(a)' %>
    <%= f.input :partner_profile, :label => 'Noivo ou noiva?' %>
    <%= f.input :partner_email, :label => 'Email do parceiro(a)' %>
    <%= f.input :partner_phone, :label => 'Telefone do parceiro(a)' %>
    <%= f.input :couple_photo, as: :file, :label => 'Foto do casal' %>
    <%= f.input :partner_one_photo, as: :file, :label => 'Sua foto' %>
    <%= f.input :partner_two_photo, as: :file, :label => 'Foto do parceiro(a)' %>
  </div>

  <div class="form-actions pt-4">
    <%= f.submit "Cadastrar", class: "btn btn-outline-warning shadow-sm"%>
    <%= link_to "Voltar", user_profile_path(current_user), class: "btn btn-outline-warning shadow-sm" %>
  </div>

<% end %>
