<%= render partial: "navbar"  %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-column align-items-center" data-bs-spy="scroll" data-bs-target="#anchors-nav-wed" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <div>
          <h1 class="text-center">Sejam bem-vindos!<br>Aqui começa a história desse grande dia!</h1>
        </div>
        <div class="text-center m-5">
          <%= cl_image_tag @wedding.couple_photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <h5 class="text-center w-50"><%= @wedding.welcome_message%></h4>
        <%= render "confirmation" %>
        <%= render "events" %>
        <%= render "tips" %>
        <%= render 'messages' %>
        <%= render 'final_message' %>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
