<%= simple_form_for [@wedding, @review] do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
      [:base].present? %>

    <%= f.input :content, :label => 'Conteúdo' %>
    <%= f.input :rating, :label => 'Avaliação de 1/5', input_html: { maxlength: "245" }%>

  </div>

  <div class="form-actions d-flex pt-4">
    <%= f.submit "Salvar Avaliação", class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm me-3" %>
    <%= link_to 'Voltar', root_path, class: "flex-grow-1 w-100 btn btn-outline-warning shadow-sm" %>
  </div>
<% end %>
