<%= simple_form_for [@wedding, @tip] do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
    [:base].present? %>

    <%= f.input :title, :label => 'Título' %>
    <%= f.input :content, :label => 'Descreva a sua dica maravilhosa'%>
    <p>Recomendamos criar ao menos uma dica agora, para visualizar em seu website. No entanto, não é obrigatório.</p>
  </div>

  <div class="form-actions pt-4">
    <%= f.submit "Salvar e criar nova dica", class: "btn btn-outline-warning shadow-sm", name: "save_and_create_tip" %>
    <%= f.submit "Salvar e voltar", class: "btn btn-outline-warning shadow-sm", name: "save_and_return" %>
    <%= link_to "Criar depois", user_profile_path(current_user), class: "btn btn-outline-warning shadow-sm" %>
  </div>

<% end %>
