<%= simple_form_for [@wedding, @tip] do |f| %>
  <div class="form-inputs scroll-form">
    <%= f.error_notification %>
    <% f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors
    [:base].present? %>

    <%= f.input :title, :label => 'Título' %>
    <%= f.input :content, :label => 'Descreva a sua dica maravilhosa', placeholder: "Por exemplo, maquiadoras, como se deslocar até o local do casamento, eventos pela cidade" %>
    <small class="text-secondary">* Para fins de visualização em seu website, recomendamos criar uma dica agora. No entanto, não é obrigatório, pois uma vez criada, não poderá ser excluída ou editada.</small class="text-secondary">
  </div>

  <div class="form-actions pt-4">
    <%= f.submit "Salvar e criar nova dica", class: "btn btn-outline-warning shadow-sm", name: "save_and_create_tip" %>
    <%= f.submit "Salvar e finalizar", class: "btn btn-outline-warning shadow-sm", name: "save_and_return" %>
    <%= link_to "Criar depois", user_profile_path(current_user), class: "btn btn-outline-warning shadow-sm" %>
  </div>

<% end %>
